<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<p>
  <strong>Favourite era:</strong>
  <%= @profile.favourite_era %>
</p>

<p>
  <strong>Address line one:</strong>
  <%= @profile.address_line_one %>
</p>

<p>
  <strong>Address line two:</strong>
  <%= @profile.address_line_two %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>Shoe size:</strong>
  <%= @profile.shoe_size %>
</p>

<p>
  <strong>Neck inches:</strong>
  <%= @profile.neck_inches %>
</p>

<p>
  <strong>Chest inches:</strong>
  <%= @profile.chest_inches %>
</p>

<p>
  <strong>Sleeve length inches:</strong>
  <%= @profile.sleeve_length_inches %>
</p>

<p>
  <strong>Waist inches:</strong>
  <%= @profile.waist_inches %>
</p>

<p>
  <strong>Hips inches:</strong>
  <%= @profile.hips_inches %>
</p>

<p>
  <strong>Pants inseam inches:</strong>
  <%= @profile.pants_inseam_inches %>
</p>

<p>
  <strong>Bust inches:</strong>
  <%= @profile.bust_inches %>
</p>

<p>
  <strong>Bra size:</strong>
  <%= @profile.bra_size %>
</p>

<p>
  <strong>Profile Photo:</strong>
  <%= @profile.profile_photo %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
