<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @product.product_type %>
</p>

<p>
  <strong>Year of manufacture:</strong>
  <%= @product.year_of_manufacture %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Material:</strong>
  <%= @product.material %>
</p>

<p>
  <strong>Size on product:</strong>
  <%= @product.size_on_product %>
</p>

<p>
  <strong>Size standardised:</strong>
  <%= @product.size_standardised %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<div style="width: 75%">
  <p>
    <strong>Photo 1:</strong>
    <img style="float:right;" <%= image_tag @product.image_url(:medium) %>
  </p>
<div>

<p>
  <strong>Photo 2:</strong>
  <%= @product.photo_2 %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
