<!DOCTYPE html>
<html>
  <head>
    <title>Vv4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Martel|Old+Standard+TT" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>

<ul class="topnav">
    <li><%= link_to('Home', landing_path) %></li>
    <li><%= link_to('About', about_path) %></li>
    <li><%= link_to('Browse', products_path) %></li>
    <li><%= link_to('Contact Me', contact_path) %></li>
    <% if user_signed_in? %>
      <li><%= link_to('My Profile', profile_path(current_user)) %></li>
    <% else %>
      <li><%= link_to('Register', new_user_registration_path)  %></li>
    <% end %>
    <% if user_signed_in? %>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>  
    <% else %>
      <li><%= link_to('Login', new_user_session_path)  %></li>
    <% end %>
</ul>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <style type="text/css">
    .alert-success{
      color: #4B1B06;
      font-size: 50px;
    }
    .alert-danger{
      color: red;
    }
  </style>
  
  <%= yield %>

  </body>
</html>

